<div
  class="pokemon"
  data-component="pokemon"
  data-pokemon-id={{ pokemon.id }}
  data-pokemon-name={{ pokemon.name }}
  data-pokemon-release-text="Are you sure you want to relase"
>
  <img
    class="pokemon__image"
    src="images/pokemons/{{ pokemon.id }}.svg"
    alt="{{ pokemon.name }}"
  />

  <div class="pokemon__info">
    <span class="pokemon__number">#{{ pokemon.id }}</span>

    <p class="pokemon__name">{{ pokemon.name }}</p>
  </div>
</div>
